<nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-logo">
        <a href="#">MyLogo</a>
      </div>
      <ul class="navbar-menu">
        <li class="navbar-item"><a href="#home" class="navbar-link">Home</a></li>
        <li class="navbar-item"><a href="#about" class="navbar-link">About</a></li>
        <li class="navbar-item"><a href="#services" class="navbar-link">Services</a></li>
        <li class="navbar-item"><a href="#contact" class="navbar-link">Contact</a></li>
      </ul>
      <div class="navbar-right">
        <a href="/login" class="login-button">Login</a>
        <a href="#settings" class="settings-button">Settings</a>
      </div>
    </div>
  </nav>
  