/* Global reset for margins and padding */
* {
  margin: 0;
  padding: 0;
}

/* Navbar container */
.navbar {
  background-color: #333;
  overflow: hidden;
  padding: 10px 20px;
}

/* Navbar container (flexbox) */
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Add this to space out items */
}

/* Logo */
.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

/* Navbar menu (ul) */
.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

/* Navbar items (li) */
.navbar-item {
  margin-left: 20px;
}

/* Navbar links (a) */
.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-link:hover {
  color: #ddd;
}

/* Navbar login button */
.navbar-right {
  margin-left: auto; /* Pushes the login button to the right */
}

.login-button,
.settings-button {
    /* background-color: #444; */
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold; /* Make button text bold */
}

.login-button {
    margin-right: 10px; /* Add space to the right of the login button */
}

.login-button:hover,
.settings-button:hover {
    color: #ddd;
}